$primary_color: #7a6aff;

.leftPanel {
  min-height: 100vh;
  min-width: 100%;
  &_header {
    border: 1px solid gray;
    border-bottom: transparent;
    border-left: 0;
    border-top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_headerTitle {
    font-size: 24px;
    color: $primary_color;
    text-transform: capitalize;
  }
  &_body {
    padding: 10px 5px;
    height: 100vh;
    border: 1px solid gray;
    border-left: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_listItem {
    margin-bottom: 10px;
  }
  &_listHeader {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: gray;
  }
  &_link {
    padding:0 5px;
    margin-bottom: 3px;
    text-decoration: none;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: start;
    border-left: 2px solid transparent ;
    &:hover > span {
      color: #0b4cff !important;
    }
    &.active {
      color: $primary_color !important;
      background-color: #d2ceee;
      border-radius: 4px;
    }
    & span:last-child {
      margin-left: 10px;
      color: gray;
    }
  }
  &_icon {
    width: 30px;
    text-align: center;
    color: $primary_color;
  }
  &_logOut {
    color: red !important;
    cursor: pointer;
    & > span {
      color: red !important;
    }
  }
}
